.max-width {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.pos-rel {
  position: relative;
}

@media (max-width: 610px) {
  .max-width {
    padding: 0 40px;
  }
}

@media (max-width: 400px) {
  .max-width {
    padding: 0 16px;
  }
}
