header {
  background-color: #512689;
  padding: 64px 0;
  text-align: center;

  
}

h1 {
  margin: 0 auto 16px;
  color: white;
  font-size: 64px;
  line-height: 75px;
  font-weight: 400;
}

h2 {
  margin: 0 auto;
  max-width: 846px;
  color: #F8F8F8;
  font-size: 20px;
  line-height: 23.44px;
  font-weight: 400;
}

